<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Title</title>
</head>

<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container-fluid">
            <span class="navbar-brand">Project Management</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" th:href="@{/index}">Dashboard</a>
                    <a class="nav-link" th:href="@{/announcements}">Announcements</a>
                    <a class="nav-link" th:href="@{/events}">Events</a>
                    <a class="nav-link active" th:href="@{/projects}">Projects</a>
                    <a class="nav-link" th:href="@{/members}">Team</a>
                </div>
            </div>
            <div class="d-flex">
                <i class="bi bi-person-circle"></i>
                <p class="text-light"><span sec:authentication="name"></span></p>
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </div>


        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
                <nav class="nav flex-column mt-5">
                    <a class="nav-link active" aria-current="page"
                        th:href="@{/projects/{projectId}(projectId=${projectId})}">Overview</a>
                    <a class="nav-link" th:href="@{/projects/{projectId}/tasks(projectId=${projectId})}">Task</a>
                    <a class="nav-link" th:href="@{/projects/{projectId}/files(projectId=${projectId})}">Files</a>
                    <a class="nav-link" th:href="@{/projects/{projectId}/notes(projectId=${projectId})}">Notes</a>
                </nav>
            </div>
            <div class="col-1"></div>
            <div class="col-9">
                <p class="fs-2 fw-bold mt-5">Overview</p>
                <p id="text-progress" class="mt-5" th:text="|Project: ${projectProgress}%|"></p>
                <div class="progress" role="progressbar" aria-label="Project Progress" aria-valuemin="0"
                    aria-valuemax="100">
                    <div class="progress-bar" th:style="'width: ' + ${projectProgress} + '%'"></div>
                </div>
                <div class="row justify-content-between mt-3 text-center">
                    <div id="to-do-div" class="col-3 border">
                        <p class="mt-3">To do</p>
                        <div th:id="${toDoTask.id}" class="card mb-3" draggable="true"
                            th:each="toDoTask : ${toDoTasks}">

                            <div class="card-body" th:text="${toDoTask.title}"></div>
                        </div>

                    </div>
                    <div id="in-progress-div" class="col-3 border">
                        <p class="mt-3">In Progress</p>
                        <div th:id=" ${inProgressTask.id}" class="card mb-3" draggable="true"
                            th:each="inProgressTask : ${inProgressTasks}">
                            <div class="card-body" th:text="${inProgressTask.title}"></div>
                        </div>
                    </div>
                    <div id="done-div" class="col-3 border">
                        <p class="mt-3">Done</p>
                        <div th:id="${doneTask.id}" class="card mb-3" draggable="true"
                            th:each="doneTask : ${doneTasks}">

                            <div class="card-body" th:text="${doneTask.title}"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 text-center">
                    <div class="d-inline-flex flex-row align-items-end">
                        <a class="btn btn-primary"
                            th:href="@{/projects/{projectId}/show-add-member-form(projectId=${projectId})}"> Add
                            Member</a>

                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> No</th>
                                <th scope="col"> Name</th>

                                <th scope="col"> Email</th>
                                <th scope="col"> Phone</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="member : ${members}">
                                <td th:text="${member[0]}" />
                                <td th:text="${member[1]}" />
                                <td th:text="${member[2]}" />

                                <td th:text="${member[4]}" />

                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Project Member result pages">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

        </script>
    <script>
        /* Events fired on the drag target */

        document.addEventListener("dragstart", function (event) {

            event.dataTransfer.setData("Text", event.target.id);

            event.target.style.opacity = "0.4";
        });


        document.addEventListener("drag", function (event) {

        });

        document.addEventListener("dragend", function (event) {
            event.target.style.opacity = "1";


        });

        /* Events fired on the drop target */

        document.addEventListener("dragenter", function (event) {
            if (event.target.className == "col-3 border") {
                event.target.style.border = "3px dotted red";
            }
        });

        document.addEventListener("dragover", function (event) {
            event.preventDefault();
        });

        document.addEventListener("dragleave", function (event) {
            if (event.target.className == "col-3 border") {
                event.target.style.border = "";
            }
        });

        document.addEventListener("drop", function (event) {
            event.preventDefault();
            if (event.target.className == "col-3 border") {
                event.target.style.border = "";
                var data = event.dataTransfer.getData("Text");
                event.target.appendChild(document.getElementById(data));
                var status;
                if (event.target.id == "to-do-div") {
                    status = "To Do";
                } else if (event.target.id == "in-progress-div") {
                    status = "In Progress";
                } else {
                    status = "Done";
                }
                var requestBodyJson = {
                    id: data,
                    status: status
                };
                $.ajax({
                    method: "PUT",
                    url: "http://localhost:8080/api/tasks",
                    contentType: "application/json",
                    data: JSON.stringify(requestBodyJson),
                    success: function () {
                        let toDoTasksCount = document.getElementById("to-do-div").children.length - 1;
                        let inProgressTasksCount = document.getElementById("in-progress-div").children.length - 1;
                        let doneTasksCount = document.getElementById("done-div").children.length - 1;
                        let percentage = ((doneTasksCount + 0.5 * inProgressTasksCount)  / (toDoTasksCount + inProgressTasksCount + doneTasksCount)) * 100;
                        document.getElementById("text-progress").innerHTML = "Project: " + percentage + "%";
                        document.getElementsByClassName("progress-bar")[0].style.width = percentage + "%";
                        var url = window.location.href;
                        const splitArray = url.split("/");
                        $.ajax({
                            method: "GET",
                            url: "http://localhost:8080/api/projects/" + splitArray[4],
                            dataType: "json",
                            success(data) {
                                var projectResponse = JSON.parse(data);
                                document.getElementById("text-progress").innerHTML = "Project: " + projectResponse.percentage + "%";
                                document.getElementsByClassName("progress-bar").style.width = projectResponse.percentage + "%";
                            },
                            error(data) {
                                console.log(data);
                            }
                        });
                    }
                });






            }
        });


    </script>
</body>

</html>